<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="smtpClient" value="smtp.gmail.com"/>
		<add key="smtpPort" value="587"/>
		<add key="from" value="gustavomovieira@gmail.com"/>
		<add key="to" value="luizgustavo.marques@poli.ufrj.br"/>
		<add key="password" value=""/>
	</appSettings>
</configuration>